
html{height:100%}
body{height:100%;font-family: 'Open Sans', sans-serif;background-color:#333;color:#CCC; font-size: 13px;margin:0}
a{color:#00961e}
#map{width:100%;height:100%;float:left}
#board input{width:70%}
.new-transaction-form input {width:100%;}
.new-transaction-form textarea {width:90%;}
.transfer-pin-form input {width:90%;}
.modify-pin-form input {width:90%;}
.spacer{clear:both}
.token-message{font-size: 18px}
.metadata{display:none}
.share-pin{display:none}
.transfer-pin{display:none}
.modify-pin{display:none}
.transfer-link{cursor:pointer;text-decoration:underline}
.modify-link{cursor:pointer;text-decoration:underline}
.share-pin textarea {position: absolute; left:-9999px;}
#copied-message-conf {display: none;}
.maptiler-geocoder-results {z-index: 10000 !important;}
.unavailable{text-decoration: line-through;}

p {margin: 0 0 10px 0;}

.general-message {
    margin: 10px 0;
}

#infos{
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 95%;
    height: auto;
    background-color: #333;
    opacity: 0.85;
    border: solid 1px #fff;
    font-size: 13px;
    z-index: 8000;
}

.general-info-collapser {
    float: right;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    padding: 5px 20px 5px 20px;
    width: fit-content;
}

.general-info-main {
    padding: 10px;
}

#user-info{
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 95%;
    max-height: 100%;
    height: auto;
    background-color: #333;
    opacity: 0.85;
    border: solid 1px #fff;
    text-align: right;
    z-index: 10000;
}

#board{display:none;font-size:10px;}

.note {font-size:10px; margin-top: 2px;}

.user-info-collapser {
    float: left;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 5px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: relative;
}

.user-info-main {
    padding: 5px;
}

#tokens{
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 45%;
    max-height: 45%;
    background-color: #333;
    opacity: 0.85;
    border: solid 1px #fff;
    overflow-y: scroll;
    font-size: 10px;
    z-index: 9000;
}

.token-owner-fulladdress {
    display: none;
}

.user-token, .token, .explored-token{
    font-size: 11px;
    cursor: pointer;
}

.tokens-info-collapser {
    float: right;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    font-size: 13px;
}

.tokens-info-main {
    padding: 0px 10px;
}

.world-map{
    right: 35px;
    top: 0;
    z-index: 7000;
    width: 60px;
    height: 60px;
    border: solid 1px #000;
    position: absolute;
}

.world-map img{
    width: 60px;
    height: 60px;
    position: relative;
}


.square {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 6px;
    background-color: #F00;
}

#logo-cryptocarto{
    position: absolute;
    z-index: 7000;
    top: 24px;
    left: 62px;
    width: auto;
    height: 50px;
}

#user-new-pk {
    display:none;
}

#user-change-name {
    display:none;
}

.display-name-zone {
    margin-top: 3px;
}

#user-avatar {
    float: left;
    margin: 0 10px 5px 0;
}

.blockies-avatar {
    float: left;
    width: 24px;
    height: 24px;
    margin: 3px 10px 5px 0;
}

.token-message-author {
    margin-top: 4px;
    display: block;
}

div.token, div.user-token, div.explored-token{
    max-width: 70%;
    float: left;
    border: 1px solid #888;
    padding: 5px;
    margin: 0 5px 5px 0;
    height: 33px;
    overflow: hidden;
}


.token-data {
    display: none;
}

.token-info {
    margin: 0 0 0 40px;
    text-align: left;
}

.token-image {
    width:32px;
    height:32px;
    float: left;
}

img.token-default-image {
    height:32px;
    padding: 0 6px 0 7px;
    float: left;
}


.orb-explorer {
    font-weight: 600;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

.pin-explorer-link {
    text-decoration: underline;
    cursor: pointer;
}

.coordinates-form {
    display: none;
}

.loader {
    display: none;
}

.loader img {
    width: 20px;
}

.ajax-loader {
    display: none;
    margin-left: 10px;
}

.ajax-loader img {
    width: 14px;
}

#privatekey, #address {
    width: 70%;
}

#teleport-longitude, #teleport-latitude {
    width: 55px;
}

#teleport-zone {
    line-height: 30px;
    min-width:330px;
}

.leaflet-popup-content-wrapper {
    font-family: 'Open Sans', sans-serif;
    background-color:#333;
    color:#EEE;
    font-size: 13px;
    margin:0;
    opacity: 0.85;
}

.leaflet-popup-tip {
    background-color:#333;
    opacity: 0.85;
}

.leaflet-popup-content {
    color:#EEEDDD;
    padding: 20px;
    margin:0;
}

.leaflet-popup-content h2 {
    font-size: 15px;
    margin: 0 0 10px 0;
}

.leaflet-popup-content a {
    color:#00961e
}

button, .button-style {
    background-color: #555;
    border: solid 1px #FFF;
    color: #FFF !important;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Open Sans'
}

button:hover, .button-style:hover {
    background-color: #333;
}

input, textarea {
    background-color: #DDD;
    border: solid 1px #FFF;
    color: #000;
    padding: 3px 3px;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px;
    border-radius: 3px;
}

.lat-lng-helper {
    font-size: 10px;
}

.welcome, .pin-explorer, .cc-popup {
    position: absolute;
    width:100%;
    height:100%;
    z-index: 11000;
}

.pin-explorer, .cc-popup {
    display: none;
}

.welcome-information, .pin-explorer-main, .cc-popup-main {
    position: absolute;
    top:50%;
    left:50%;
    width:60%;
    height:80vh;
    margin-left:-32%;
    margin-top:-42vh;
    z-index: 12000;
    background-color: #333;
    opacity: 0.9;
    border: solid 1px #fff;
    padding: 1%;
    text-align: center;
    overflow-y: scroll;
}

.new-user-guide, .returning-user-guide {
    display: none;
}

#close-welcome-information, #close-pin-explorer, .close-cc-popup {
    position: absolute;
    top:0%;
    left:100%;
    margin-left:-28px;
    width: 24px;
    height: 26px;
}

.leaderboard-item {
    vertical-align: middle;
    font-size: 15px;
}

.leaderboard-ranking {
    font-weight: bold;
}

.leaderboard-item .owner {
    display: none;
}

.marker-cluster {
    color: #333;
}

.hide {
    display: none;
}
