
html{height:100%}
body{height:100%;font-family: 'Open Sans', sans-serif;background-color:#333;color:#CCC}
a{color:#00961e}
#map{width:100%;height:100%;float:left}
#board input{width:70%}
.new-transaction-form input {width:100%;}
.new-transaction-form textarea {width:100%;}
.spacer{clear:both}
.token-message{font-size: 18px}
.metadata{display:none}


#infos{
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    left: 10px;
    max-width: 50%;
    height: auto;
    background-color: #333;
    opacity: 0.85;
    border: solid 1px #fff;
    font-size: 13px;
}

.general-info-collapser {
    float: right;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    padding: 5px 20px 5px 20px;
    width: fit-content;
}

.general-info-main {
    padding: 10px;
}

#user-info{
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
    max-width: 70%;
    height: auto;
    background-color: #333;
    opacity: 0.85;
    border: solid 1px #fff;
    text-align: right;
}

#board{display:none;font-size:10px;}

#user-info input{width:300px;}
#user-info .note {font-size:10px;}

.user-info-collapser {
    float: left;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 20px 5px 20px 5px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.user-info-main {
    float: left;
    padding: 10px 20px 0 20px;
}

#tokens{
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    max-width: 30%;
    max-height: 35%;
    background-color: #333;
    opacity: 0.85;
    border: solid 1px #fff;
    overflow-y: scroll;
    font-size: 10px;
}

.user-token{
    font-size: 11px;
}

.tokens-info-collapser {
    float: right;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    font-size: 14px;
}

.tokens-info-main {
    float: left;
    padding: 0px 10px;
}

#logo-cryptocarto{
    position: absolute;
    z-index: 1000;
    top: 24px;
    left: 62px;
    width: auto;
    height: 50px;
}

#user-new-pk {
    display:none;
}

.user-token img {
    width:64px;
    height:64px;
    float:left;
    margin-right:5px;
}

.token img {
    width:64px;
    height:64px;
    float:left;
    margin-right:5px;
}

.orb-explorer {
    font-weight: 600;
    font-size: 14px;
}

.coordinates-form {
    display: none;
}

.loader {
    display: none;
}

.loader img {
    width: 20px;
}