			<div class="spacer"></div>

			<div id="infos">
				<div class="general-info-collapser">&#9776; General Info &#9776;</div>
				<div class="general-info-main">
					CryptoCarto pre-alpha - <a target="_blank" href="https://cryptocarto.xyz">cryptocarto.xyz</a>
					<br />Contract address: <a target="_blank" href="https://scope.klaytn.com/account/0xf4bc8ccb22e3c1466df53bbd2dc94c03ec4c300f">0xf4bc8ccb22e3c1466df53bbd2dc94c03ec4c300f</a>
					<br />Current app status: CONNECTED TO CONTRACT (rev <a target="_blank" href="https://github.com/cryptocarto/cryptocarto/commit/b44181a10ff670e52958819965fae861c5abe66a">b44181a</a>)
				</div>
			</div>
			<script>
				$('.general-info-collapser').click(function(){$('.general-info-main').toggle();});
				if ((screen.width < 900) || (screen.height < 600)) {$('.general-info-main').toggle();}
			</script>
		</div>
	</body>
</html>
