			<div class="spacer"></div>

			<div id="infos">
				<div class="general-info-collapser">&#9776; General Info &#9776;</div>

				
				<div class="general-info-main">
					<img src="" id="blockies-avatar" />
					<p class="display-name-zone">Hello <b><% if (typeof displayname != 'undefined' && displayname) { %><%= displayname %><% } %></b></p>
					<div class="spacer"></div>
					<p>Click on map to create a new pin - <a href="https://cryptocarto.xyz/how-to/" target="_blank">Check how to use</a></p>
					<div id="user-keys">
						<label for="address">Address: </label>
						<input type="text" disabled="disabled" class="form-control" placeholder="..." name="address" id="address" 
						value="<% if (typeof address != 'undefined' && address) { %><%= address %><% } %>" />
						<br />
						<label for="privatekey">PrivateKey: </label>
						<input type="password" disabled="disabled" class="form-control" placeholder="..." name="privatekey" id="privatekey" 
						value="<% if (typeof privatekey != 'undefined' && privatekey) { %><%= privatekey %><% } %>" />
						<br />
						<button onclick="
							if ($('#privatekey').attr('type') == 'password') { $('#privatekey').attr('type', 'text') }
							else { $('#privatekey').attr('type', 'password') }">Show/Hide</button>
						<button onclick="window.location.href = '/save-user-info';">Save to disk</button>
						<button onclick="$('#user-keys').hide();$('#user-new-pk').show();$('#newprivatekey').focus()">Import other key</button>
						<button onclick="$('#user-keys').hide();$('#user-change-name').show();$('#newname').focus()">Change name</button>
						<p class="note">
							A new blockchain account is generated and saved in session at your first visit.<br />
							Save your info, and re-use it with the "Import other key" feature when you come back!
						</p>
					</div>
			
					<div id="user-new-pk">
						<form class="import-pk-form" action="/import-pk" method="post">
							<label for="privatekey">PrivateKey to import: </label>
							<input type="text" autocomplete="off" required="true" class="form-control" placeholder="0x..." name="newprivatekey" id="newprivatekey" />
							<br /><button type="submit">Import this private key</button>
							<button type="button" onclick="$('#user-keys').show();$('#user-new-pk').hide()">Cancel</button>
						</form>
					</div>
			
					<div id="user-change-name">
						<form class="change-name-form" action="/change-name" method="post">
							<label for="new-name">New name: </label>
							<input type="text" autocomplete="off" required="true" class="form-control" placeholder="name..." name="newname" id="newname" />
							<br /><button type="submit">Change your display name</button>
							<button type="button" onclick="$('#user-keys').show();$('#user-change-name').hide()">Cancel</button>
						</form>
					</div>

					CryptoCarto 2020 - Contract <a target="_blank" href="https://scope.klaytn.com/account/0xf4bc8ccb22e3c1466df53bbd2dc94c03ec4c300f">0xf4bc...300f</a>
					(rev <a target="_blank" href="https://github.com/cryptocarto/cryptocarto/commit/b44181a10ff670e52958819965fae861c5abe66a">b44181a</a>)

				</div>
			</div>

			<script>
				
				// Collapsers and auto hide for small displays
				if ((screen.width > 810)) {
					$('.user-info-collapser').click(function(){$('.user-info-main').toggle();});
					$('.tokens-info-collapser').click(function(){$('.tokens-info-main').toggle();});
					$('.general-info-collapser').click(function(){$('.general-info-main').toggle();});
				} else {
					$('.user-info-collapser').click(function(){$('.user-info-main').toggle();});
					$('.general-info-collapser').click(function(){
						$('.general-info-main').toggle();
						$('.tokens-info-main').hide();
					});
					$('.tokens-info-collapser').click(function(){
						$('.tokens-info-main').toggle();
						$('.general-info-main').hide();
					});
				}

				if (screen.width < 1200) {$('.user-info-main').hide();}
				if ((screen.width < 900) || (screen.height < 600)) {$('.general-info-main').hide();}
				if (screen.width < 600) {$('.tokens-info-main').hide();	$('#tokens').css({ "max-width": "95%" });}
			
				$('#blockies-avatar').attr("src", blockies.create({ seed: $('#address').val() ,size: 8,scale: 3}).toDataURL());

			</script>
		</div>
	</body>
</html>
