			<div class="spacer"></div>

			<div id="infos">
				<p>
					CryptoCarto pre-alpha
					<br />Contract revision: b44181a (<a target="_blank" href="https://github.com/cryptocarto/cryptocarto/commit/b44181a10ff670e52958819965fae861c5abe66a">link</a>)
					- Contract address: <a target="_blank" href="https://scope.klaytn.com/account/0xf4bc8ccb22e3c1466df53bbd2dc94c03ec4c300f">0xf4bc8ccb22e3c1466df53bbd2dc94c03ec4c300f</a>
					<br />Current app status: DISCONNECTED FOR MAINTENANCE
					- <a target="_blank" href="https://cryptocarto.xyz">https://cryptocarto.xyz</a>
				</p>
			</div>
		
		</div>
	</body>
</html>
