<div class="leaderboard cc-popup">
      <div class="leaderboard-main cc-popup-main">
            
            <button id="close-leaderboard" class="close-cc-popup" type="button" onclick="$('.leaderboard').hide();">&#10006;</button>

            <h2>Leaderboard</h2>

            <p>Discover CryptoCarto's star users! Click on any username to view his pins.</p>
            <p>Rankings and levels are determined by pure token count: number of pins owned and created by that user on this smart contract version.</p>
            <br />

            <span class="ajax-loader"><img src="/img/loader.gif" />loading...</span>

            <div class="leaderboard-data">
            </div>

      </div>
</div>
