<div class="new-transaction">
      <h2>Reserve this spot for 1 &#127757;</h2>
      <div>
      
      <% if (notEnoughRights) { %>
            <p>You don't have enough rights to create a new token (see "General Info" in bottom left area).</p>
            <p>
              NOTICE: Sadly, Klaytn Gas price was raised x30 on April 3rd 2022, and gas coverage has become difficult... Until more
              development can be made, there is a daily pin token creation limit of 2 per user and of 30 per day globally.
            </p>
            <p>A free refill is available every 22h!</p>
      <% } else { %>
            <form class="new-transaction-form" action="/new-transaction" method="post">
                  <label for="message">Message:</label><br />
                  <textarea class="form-control message" name="message" rows="3" placeholder="Message" required="true"></textarea>
                  <span class="lat-lng-helper"></span>
                  <br />
                  <div class="coordinates-form">
                        <label for="message">Latitude (4 decimals - click on map to fill):</label><br />
                        <input type="text" class="form-control latitude" placeholder="Latitude" name="latitude" required="true" />
                        <br />
                        <label for="message">Longitude (4 decimals - click on map to fill):</label><br />
                        <input type="text" class="form-control longitude" placeholder="Longitude" name="longitude" required="true" />
                  </div>

                  <p>You have <%= consumptionrights %> &#127757; remaining</p>
            
                  <button type="submit" class="submit-transaction" onclick="checkTransactionForm();">Reserve spot</button>
                  <span class="loader"><br /><img src="/img/loader.gif" /> creating token...</span>
            </form>
      <% } %>
      </div>
</div>
