<div class="new-transaction">
      <h2>Claim this space as a token</h2>
      <div>
      <form class="new-transaction-form" action="new-transaction" method="post">
            <label for="message">Message:</label><br />
            <textarea class="form-control message" name="message" rows="3" placeholder="Message" required="true"></textarea>
            <br />
            <div class="coordinates-form">
                  <label for="message">Latitude (4 decimals - click on map to fill):</label><br />
                  <input type="text" class="form-control latitude" placeholder="Latitude" name="latitude" required="true" />
                  <br />
                  <label for="message">Longitude (4 decimals - click on map to fill):</label><br />
                  <input type="text" class="form-control longitude" placeholder="Longitude" name="longitude" required="true" />
                  <br />
            </div>
            <br /><button type="submit" class="submit-transaction" onclick="checkTransactionForm();">Claim token</button>
            <span class="loader"><br /><img src="/img/loader.gif" /> posting on blockchain (~10sec wait)</span>
      </form>
      </div>
</div>
