<div class="pin-explorer">
      <div class="pin-explorer-main">
            
            <button id="close-pin-explorer" type="button" onclick="$('.pin-explorer').hide();">&#10006;</button>

            <h2>Pin explorer</h2>

            <span class="ajax-loader"><img src="/img/loader.gif" />loading...</span>

            <div class="pin-explorer-data">
            </div>

      </div>
</div>
