<div id="user-info">
    <div class="user-info-collapser">&#9776; Teleport zone &#9776;</div>
    <div class="user-info-main">

        <div id="teleport-zone">
            <label for="geocoding-field">Teleport to:</label> <input onClick="this.select();" placeholder="city name..." autocomplete="off" id="geocoding-field" type="text" />
            <br />
            ...or to : 
            <button onclick="map.setView([48.8722,2.3321],16);">Paris</button>
            <button onclick="map.setView([37.5326,127.02461],16);">Seoul</button>
            <button onclick="map.setView([43.7331,7.420],16);">Monaco</button>
            <button onclick="map.setView([46.2043,6.1431],16);">Geneva</button>
            <br />
            ...or to 
            Lat <input type="text" onClick="this.select();" placeholder="Latitude" name="teleport-latitude" id="teleport-latitude" required="true" value="42.6886" />
            Lng <input type="text" onClick="this.select();" placeholder="Longitude" name="teleport-longitude" id="teleport-longitude" required="true" value="2.8948" />
            <button onclick="cryptocartoTeleporter()">Go</button>
            <script>
                // Geocoding function: fill input with result and teleport to center of matched item
                var geocoder = new maptiler.Geocoder({input: 'geocoding-field', key: 'hRjkiHQiQvUA7GFcwv6N'});
                geocoder.on('select', function(item) {
                    $('#geocoding-field').val(item.place_name);
                    map.setView([item.center[1],item.center[0]],18);
                });

                // Teleporting function
                cryptocartoTeleporter = function() {
                    map.setView([$('#teleport-latitude').val(),$('#teleport-longitude').val()],16);
                }

                // Bind "Enter" keypress events
                $('#teleport-latitude').keypress(function(e){if(e.which == 13){ cryptocartoTeleporter() }});
                $('#teleport-longitude').keypress(function(e){if(e.which == 13){ cryptocartoTeleporter() }});

            </script>
            <br />...or <button onclick="window.location.href = '/view-random-pin'">View a random pin</a>
        </div>
    </div>
</div>